name: manual
on:
  workflow_dispatch

jobs:
   generate:
     runs-on: ubuntu-latest
     steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # full history for metadata
          submodules: false

      - name: gen
        env:
          JIRA_USER: ${{ secrets.JIRA_USER }}
          JIRA_PASSWORD: ${{ secrets.JIRA_PASSWORD }}
        run: |
          echo `date` >> dt.txt
        shell: bash
 
      - name: Create commit
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git commit -am "Update from GHA " 


